<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
        <h1>Login page</h1>
        <form action="/2home" method = "post">
            Username : <input type = "text" name= "txtuname" /> </br>
            Password : <input type = "password" name = "txtpassword"/> </br>
            <input type ="submit" value="login" />
        </form>
        </br></br>

        <form action="/signup" method = "post">
            Enter Username : <input type = "text" name= "txtuname" /> </br>
            Enter Password : <input type = "password" name = "txtpassword"/> </br>
            Enter E-Mail : <input type = "text" name = "txtemail"/> </br>
            Enter PhNo : <input type = "text" name = "txtphno"/> </br>
            <input type ="submit" value="Signup" />
        </form>
</body>
</html>