<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
      <div class="container-fluid">
            <h1>Login</h1>
            <p>Welcome to Login page </p>
            <div class="row">
                <div class="col-md-6">
                        <h6>View</h6>
                    <form action="/home" method = "POST">
                        Username:<input type="text"  name="txt_user"/><br/><br/>
                        <input type="submit" class="btn btn-dark" value="login"/>
                    </form><br/>
                </div>
            </div>

            
    </div>
  </body>
</html>
