<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
        <h1>Login page</h1>
        <form action = "/home" method = "post">
            Username : <input type = "text" name= "txtuname" /> </br>
            Password : <input type = "password" name = "txtpassword"/> </br>
            <input type ="submit" value="login" />
        </form>
        </br></br>

        <form action = "/signup" method = "post">
            Enter your username : <input type = "text" name = "username"/> </br>
            Enter a password : <input type = "password" name = "password"/> </br>
            Enter your E-Mail ID : <input type = "text" name = "email"/> </br>
            Enter your phone number " <input type = "text" name = "phno"/> </br>
            <input type = "submit" value = "Sign Up" />
        </form>

</body>
</html>