<!DOCTYPE html>
<html>
  <head>
    <title>mmde pusthaka kada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </head>

  <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">mmde pusthaka kada</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Book</a>
                </li>
                      
            </ul>
        </nav>

    <div class="container-fluid">
        <h6>Choose from the largest bookstore in India</h6>
            <div class="row">
                <% if(data.length) {
                    for( var i=0; i<data.length; i++ ) { %>

                    <div class="col-md-4">                        
                        <div class="card" style="width:400px">
                          <img class="card-img-top" src="img_avatar1.png" alt="Balarama" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title"><%=data[i].name %></h4>
                            <p class="card-text">Price: Rs.<%=data[i].price %></p>
                            <a href="#" class="btn btn-dark">Details</a>
                          </div>
                        </div>
                        <br>
                    </div>
                <% }
                    }
                else { %>
                    <p>Not Found</p>
                <% } %>



                
    </div>
  </body>
</html>
