<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <table border="1">
        <tr>
            <th> No. </th>
            <th> Name </th>
            <th> Salary <%=data.length %></th>
        </tr>
        <% if(data.length){
           for(var i=0;i<data.length ;i++) { %>
            <tr>
                <td> <%=(i+1)  %> </td>
                <td> <%=data[i].ename %> </td>
                <td> <%=data[i].salary %> </td>
            </tr>
            <% } } else { %>
                <p>Data not found tta !!</p>
            <% } %>

        
    </table>
    
</body>
</html>
