<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel = "stylesheet" href = "{{url_for('static', filename='css/style1.css')}}"/>

</head>
<body>
    <a href = "./"> Home </a>
    <a href = "./about"> About </a>
    <h1>
        .home heading.
    </h1>
    <p> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
</body>
</html>